<div class="text-center">
  <!-- News jumbotron -->
  <div
    class="jumbotron text-center hoverable p-4"
    style="background-color:honeydew"
  >
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3 offset-md-1 mx-3 my-3 p-5 vertical-split">
        <!-- Featured image -->
        <div class="view overlay waves-light" mdbWavesEffect>
          <img
            src="assets/profile.jpg"
            class=" rounded img-fluid"
            alt="profile image"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-6 text-md-left ml-3 mt-3 p-5">
        <!-- Excerpt -->
        <h2 class="text-center mt-3">About Me</h2>
        <hr />
        <a class="green-text">
          <h6 class="h6 pb-1">
            <mdb-icon fas icon="desktop" class="pr-1"></mdb-icon>Profile
          </h6>
        </a>
        <h4 class="h4 mb-4">James Kidd - Software Engineer</h4>
        <p class="font-weight-normal">
          Hello, my name is James Kidd and I am a final year student studying
          for a BSc Hons in Software Design (Cloud Computing). <br /><br />
          I like building awesome software applications. If you are interested
          you can view some of my projects by clicking the below links, or visit
          my GitHub to see my code!
          <br /><br />
          I am an ambitious individual with a passion for technology and all
          things software. I developed this portfolio as a full-stack web
          application using Angular and a NodeJS Express server to demonstrate
          my learnings.
          <br /><br />
          When I'm not coding my next project, I enjoy spending my time doing
          any of the following:
        </p>
        <ul>
          <li class="font-weight-normal">
            Anything to do with sports - I play football but enjoy playing and
            watching all sports
          </li>
          <li class="font-weight-normal">
            Watching movies and playing video games
          </li>
        </ul>
        <p class="font-weight-normal">
          Below are a list of technologies I have a familiarity with, which link
          to my projects:
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="row">
      <div class="col col-md-3 p-5 offset-md-3">
        <h4 class="mb-4">Languages</h4>
        <ul class="list-group">
          <a
            href="#"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >Java / Java EE</a
          >
          <a
            href="#"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >C#</a
          >
          <a
            href="#"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >Python</a
          >
          <a
            href="https://recipe-book-2ae95.firebaseapp.com/auth"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >Angular / NodeJS</a
          >
          <a
            href="#"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >JavaScript / PHP</a
          >
        </ul>
      </div>
      <div class="col col-md-3 p-5">
        <h4 class="mb-4">Software</h4>
        <ul class="list-group">
          <a
            href="#"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >Windows</a
          >
          <a
            href="#"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >MySQL</a
          >
          <a
            href="#"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >MongoDB</a
          >
          <a
            href="#"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >Firebase</a
          >
          <a
            href="#"
            class="list-group-item list-group-item-action waves-light"
            mdbWavesEffect
            >Agile</a
          >
        </ul>
      </div>
    </div>
  </div>
</div>
