<!-- Footer -->
<div class="pt-5"></div>
<footer class="page-footer font-small unique-color">

        <!-- Footer Elements -->
        <div class="container">

          <!-- Grid row-->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-3">
              <div class="mb-5 flex-center">
                  <a class="nav-link pl-5 pr-5" href="https://twitter.com/james_kidd1">
                    <mdb-icon fab icon="twitter" size="4x"></mdb-icon>
                </a>
                <!--Linkedin -->
                <a class="nav-link pl-5 pr-5" href="https://www.linkedin.com/in/james-kidd-887981161/">
                    <mdb-icon fab icon="linkedin" size="4x"></mdb-icon>
                </a>
                <!--Instagram-->
                <a class="nav-link pl-5 pr-5" href="https://github.com/A00245575">
                    <mdb-icon fab icon="github" size="4x"></mdb-icon>
                </a>
                <!--Pinterest-->
                <a class="nav-link pl-5 pr-5" href="assets/JamesKiddCV.docx">
                    <mdb-icon fas icon="download" size="4x"></mdb-icon>
                </a>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="#"> James Kidd</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
